section, h2{
    margin: 15px;
}

.profilePic{
    width: 128px;
    height: 128px;
}

.relatedUser{
    padding: 10px;
}

.themePic{
    width: 128px;
    height: 128px;
}

.jumbotext{
    opacity: 1.0;
}

.txtWhite{
    color: #ffffff;
}

.gameCard{
    margin-left: 15%;
    margin-right: 15%;
}
article{
    margin: 15px;
}

.post{
    margin-left: 10%;
    margin-right: 10%;
}

.comment-Text{
    height: 50px;
    width: 100%;
}
.comment-Send{
     height: 50px;
     width: 100%;
 }

.jumboTranp{

    opacity: 0.8;
    position: absolute;
    z-index: -1;
    min-height: 500px;
    width: calc(100% - 2.5%);


}

.jumbotron2{
    margin-bottom: 0px;
}

.logoThemeList{
    width: 64px;
    height: auto;
}